@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.navbar-logo {
  font-family: 'Roboto-flex', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar-links {
  font-family: 'Roboto-flex', sans-serif;
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
