.card-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  width: 250px;
  flex-shrink: 0;
}

.card-image {
  max-width: 100%;
  height: auto;
}
