@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'AppleChancery';
  src: url('../assets/applechancery.ttf') format('truetype');
}

.playing-card {
  width: 100px;
  height: 140px;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  font-size: 2rem;
  font-weight: 800;
  position: relative;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.playing-card-top-left {
  position: absolute;
  text-align: left;
}

.playing-card-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'AppleChancery', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}

.playing-card-bottom-right {
  position: absolute;
  transform: rotate(180deg) translateY(8px);
  text-align: left;
  bottom: 0px;
  right: 8px;
}
