.irc {
  display: flex;
  flex-direction: row;
}

.irc-pair {
  display: flex;
  flex-direction: column;
}

.irc-pair-textbox {
  padding: 5px;
  white-space: nowrap;
}

.irc-pair-label {
  color: white;
  cursor: pointer;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}