@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.settings-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  flex: 1;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #282828;
  border-radius: 12px;
  border: 2px solid #575757;
  width: 230px;
  text-align: center;
}

.settings-card-button {
  padding: 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  cursor: pointer;
  margin-top: auto;
  width: 180px;
}

.settings-card-title {
  white-space: nowrap;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0px;
  font-weight: 500;
  cursor: pointer;
}

.settings-card-title:hover {
  text-decoration: underline;
}

.settings-card-title.selected {
  border-radius: 12px;
  display: inline-block;
  background-color: #575757;
  width: 200px;
}
