@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.settings-body {
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  min-height: 75vh;
  font-family: "Roboto", sans-serif;
}

.settings-body-title {
  padding: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 0px;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-body-title:hover {
  border-color: #282828;
}

.settings-body-dropdown {
  font-size: 1.2rem;
  cursor: pointer;
  width: 160px;
}

.settings-body-playing-cards {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  zoom: 0.5;
}

.settings-body-playing-card {
  height: auto;
  flex-shrink: 1;
}

.settings-body-button {
  font-size: 1.2rem;
  cursor: pointer;
  width: 160px;
}

.settings-body-textbox {
  font-size: 1.2rem;
  cursor: pointer;
  width: 160px;
}

.settings-body-table {
  margin: 0 auto;
}

.settings-body-tags {
  margin-left: auto;
}

.settings-body-irc {
  margin-left: auto;
}
